*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}
body{
    background-color: #fff;
}
header{
    height: 878px;
}
#Head{
    background-image: url('../images/header/Scooter\ imageScooter-blyad.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}
#Nav-title{
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}
#Help{
    height: 65px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 407px;
    padding-right: 407px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;  
}
.nav-menu{
    text-decoration: none;
    color: black;
    padding-right: 10px;
    font-size: 14px;
    font-style: normal;
    line-height: 20px; 
}
#Navigation{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 4px 6px rgba(0, 0, 0, 0.20);
    align-items: center;
    background-color: #fff;
    height: 66px;
    padding-left: 407px;
    padding-right: 407px;
}
.header-button{
    background-color: #FFA019;
    border-radius: 10px;
    border-color: #FFA019;
    color: #fff;
    cursor: pointer;
    width: 192px;
    height: 40px;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}
#Header-text{
    display: flex;
    width: 570px;
    height: 59px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    align-items: center;
    padding-top: 300px;
    padding-left: 889px;
    padding-right: 960px;
}
#Text-title{
    width: 226px;
    height: 67px;
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 20px;
    margin-right: 172px;
    margin-left: 172px;
}
#Header-text-info{
    display: flex;
    width: 570px;
    height: 59px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    margin-top: 12px;
}
#Catalog-button{
    width: 139px;
    height: 27px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    border-color: #FFF;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.Text-container{
    width: 1106px;
    height: 405px;
    padding-top: 209px;
    padding-left: 432px;
    padding-right: 432px;
}
#Table1{
    margin-top: 211px;
}
#Our{
    height: 40px;
    width: 1056px;
    font-size: 34px;
    font-style: normal;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Adventages{
    padding-right: 71px;
    text-align: center;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}
.Adventages-text{
    width: 200px;
    height: 31px;
}
.Same-container{
    width: 1106px;
    height: 405px;
    padding-top: 403px;
    padding-left: 432px;
    padding-right: 432px;
}
#About-us{
    font-size: 34px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}
.About-us-text{
    width: 1106px;
    height: 43px;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; 
    margin-top: 104px;
}
.About-us-text2{
    width: 1106px;
    height: 64px;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; 
    margin-top: 54px;
}
.mailing{
    background-color: #FFA019;
    width: 100%;
}
#mailing-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 361px;
    margin-left: 430px;
    margin-right: 430px;
}
#mailing-txt{
    display: flex;
    width: 290px;
    height: 94px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}
#Name{
    display: flex;
    width: 243px;
    height: 49px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    border: 1px #FFF solid;
    margin-left: 45px;
    margin-right: 21px;
}
#EMail{
    display: flex;
    width: 243px;
    height: 49px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    border: 1px #FFF solid;
    margin-right: 21px;
}
#Subscribe{
    width: 243px;
    height: 49px;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    color: #000;
    background-color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    border: 1px #FFF solid;
    text-decoration: none;
}
#Subscribe-href{
    text-decoration: none;
}
#Features-container{
    width: 1106px;
    height: 297px;
    padding-top: 190px;
    padding-left: 432px;
    padding-right: 432px;
    color: #000;
}
#Features-heading{
    width: 413px;
    height: 28px;
    font-size: 34px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px; 
}
#Features-ul-style
{
    padding-top: 55px;
    justify-content: space-between;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}
#Negative-ul{
    list-style-type: none;
    width: 180px;
    height: 77px;    
}
#Positive-ul{
    list-style-type: none;
    width: 301px;
    height: 77px;
    margin-left: 125px;
    margin-right: 94px;
}
#Positive-ul-second{
    list-style-type: none;
    width: 210px;
    height: 77px;
}
#Features-text{
    padding-top: 85px;
    width: 1106px;
    height: 52px;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}
#Catalog-container{
    width: 1106px;
    height: 494px;
    padding-left: 432px;
    padding-right: 432px;
    padding-top: 411px;
}
#Catalog-heading{
    width: 1106px;
    font-size: 34px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px; 
}
#Catalog-choice{
    justify-content: space-between;
    align-items: center;
    margin-left: 597px;
    width: 390px;
    height: 18px;
}
#all{
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}
#Giro{
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}
#Scooter{
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}
#Sigway{
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}
#all:hover, #Giro:hover, #Scooter:hover, #Sigway:hover{
    border-radius: 10px;
    background: #FFA019;
    color: #FFF;
    cursor: pointer;
}
#ELGN{
    display: flex;
    justify-content: space-between;
}
#Catalog-products-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 83px;
}

#SF-block{
    width: 249px;
    height: 410px;
    background: #FFF;
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.10);
    margin-right: 40px;
}
#Giro-block{
    width: 249px;
    height: 410px;
    background: #FFF;
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.10);
    margin-right: 40px;
}
#Scooter-block{
    width: 249px;
    height: 410px;
    background: #FFF;
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.10);
    margin-right: 40px;
}
#SS-block{
    width: 249px;
    height: 410px;
    background: #FFF;
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.10);
    margin-right: 40px;
}

#Catalog-Sigway-first, #Catalog-giro, #Catalog-Sigway-second, #Catalog-Scooter{
    display: flex;
    width: 97px;
    height: 28px;
    flex-direction: column;
    justify-content: flex-end;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    border-radius: 0px 15px 15px 0px;
    background: #FFA019;
}

#Catalog-Scooter{
    font-size: 11px;
    margin-right: 181px;
}
#Catalog-Sigway-second{
    margin-right: 181px;
}
#Catalog-Sigway-first{
    margin-right: 187px;
}
#Catalog-giro{
    margin-right: 152px;
}
.image-block{
    width: 214px;
    height: 214px;
    margin-top: 48px;
    margin-left: 18px;
    margin-right: 17px;
}
#text-block-1{
    display: flex;
    width: 169px;
    height: 50px;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 57px;
    margin-right: 23px;
    margin-bottom: 8px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}
#text-block-2{
    display: flex;
    width: 231px;
    height: 50px;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 18px;
    margin-bottom: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}
#text-block-3{
    display: flex;
    width: 169px;
    height: 50px;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 57px;
    margin-right: 23px;
    margin-bottom: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}
#text-block-4{
    display: flex;
    width: 169px;
    height: 50px;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 57px;
    margin-right: 23px;
    margin-bottom: 8px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}
.cost-block{
    margin-right: 29px;
    margin-left: 57px;
    margin-bottom: 33px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; 
}
#SPECIAL{
    margin-left: 18px;
}
#Our-Employes{
    width: 294px;
    height: 28px;
    color: #000;
    font-size: 34px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 86px;
}
#Employes-block{
    width: 1101px;
    height: 331px;
    padding-top: 563px;
    padding-left: 410px;
}
#Consultant-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Employes-images-block{
    width: 163px;
    height: 217px;
}
.Employ-Name{
    display: flex;
    width: 176px;
    height: 25px;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 20px;
}
.Manager-text{
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 30px;
    margin-left: 20px;
    margin-top: 18px;
}
.Employes-text{
    width: 82px;
    height: 40px;
    border-radius: 10px;
    background: #FFA019;
    border-color: #FFF;
    text-align: center;
    margin-left: 15px;
    margin-top: 28px;
}
.Consultant-card{
    margin-left: 25px;
}
.Employes-href{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#Brand-bg{
    margin-top: 389px;
    width: 100%;
    height: 196px;
    background-color: #FBFBFB;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#Brands-text{
    color: #9B9B9B;
    padding-right: 274px;
    padding-left: 274px;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; 
}
#Info-container{
    width: 1102px;
    height: 365px;
    padding-left: 409px;
    padding-right: 409px;
    padding-top: 112px;
}
#Info-head{
    display: flex;
    width: 345px;
    height: 42px;
    flex-direction: column;
    justify-content: center;
    color: #9B9B9B;
    font-size: 34px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}
#Image-info-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Image-info-container{
    width: 240px;
    height: 261px;
    margin-right: 43px;
    padding-top: 63px;
}
.Image-info{
    position: absolute;
    z-index: -1;
}
.Info-text{
    padding-top: 104px;
    z-index: 2;
    width: 240px;
    height: 54px;
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}
#Footer{
    width: 100%;
    background-color: #FBFBFB;
    height: 395px;
    margin-top: 372px;
}
#Footer-text-container{
    width: 1102px;
    padding-top: 94px;
    margin: 94px 407px 50px 409px;
    display: flex;
    justify-content: space-between;
}
.Footer-text-item{
    display: flex;
    width: 338px;
    height: 78px;
    flex-direction: column;
    justify-content: center;
    color: #8191A6;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
#Customers-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 197px;
}
.Customers-title{
    width: 150px;
    height: 20px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin-right: 50px;
}
.Customers-list{
    padding-top: 28px;
    list-style-type: none;
}
.UL{
    width: 171px;
    height: 57px;
    list-style-type: none;
    line-height: 20px;
}
.Customers-list-href{
    text-decoration: none;
    color: #8191A6;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

@media (width < 900px){
    #Head{
        background-image: url('../images/header/Scooter\ imageScooter-blyad.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 100%;
    }
    #Help{
        padding-left: 0;
        padding-right: 0;
        font-size: 11px;
        font-weight: bold;
    }
    .header-button{
        width: 130px;
        height: 30px;
        font-size: 11px;
    }
    #Nav-title{
        font-size: 15px;
    }
    #Navigation{
        padding-left: 0;
        padding-right: 0;
    }
    .nav-menu{
        padding-right: 2px;
        font-size: 10px;
    }
    #Header-text{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    #Text-title{
        font-size: 40px;
    }
    #Header-text-info{
        width: 100%;
        font-size: 15px;
    }
    .Text-container{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    #Our{
        height: 40px;
        width: 100%;
        font-size: 30px;
        padding-right: 20px;
        padding-left: 20px;
    }
    #Table1{
        width: 100px;
    }
    #Table1-tr{
        display: flex;
        justify-content: space-between;
    }
    .Adventages{
        padding-right: 15px;
        text-align: center;
        color: #000;
        font-size: 15px;
    }
    .Adventages-text{
        width: 100px;
        height: 31px;
    }
    .Same-container{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .Adventages>img{
        width: 100px;
    }
    #About-us{
        padding-left: 20px;
        padding-right: 20px;
    }
    .About-us-text{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .About-us-text2{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    #mailing-text{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 390px;
        margin-left: 20px;
        margin-right: 20px;
    }
    #mailing-txt{
        width: 120px;
        font-size: 14px;
        line-height: 12px;
    }
    #Name{
        width: 75px;
        margin-left: 0;
        margin-right: 0;
    }
    #EMail{
        width: 75px;
        margin-left: 0;
        margin-right: 0;
    }
    #Subscribe{
        width: 75px;
        height: 49px;
        font-size: 11px;
        margin-left: 0;
        margin-right: 0;
    }
    #Features-container{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    #Features-heading{
        font-size: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
    #Features-ul-style
    {
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }
    #Negative-ul{
        width: 130px;  
    }
    #Positive-ul{
        width: 130px;
        margin-left: 7px;
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #Positive-ul-second{
        width: 130px;
    }
    #Features-text{
        width: 100%;
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
    }
    #Catalog-container{
        width: 100%;
        height: 494px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 411px;
    }
    #Catalog-heading{
        width: 100%;
        font-size: 34px;
        font-style: normal;
        font-weight: 300;
        line-height: 30px; 
    }
    #Catalog-choice{
        justify-content: space-between;
        align-items: center;
        margin-left: 0;
        width: 270px;
        height: 18px;
    }
    #all{
        font-size: 12px;
    }
    #Giro{
        font-size: 12px;
    }
    #Scooter{
        font-size: 12px;
    }
    #Sigway{
        font-size: 12px;
    }
    #Catalog-products-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 83px;
    }
    
    #SF-block{
        margin-bottom: 10px;
    }
    #Giro-block{
        margin-bottom: 10px;
    }
    #Scooter-block{
        margin-bottom: 10px;
    }
    #SS-block{
        margin-bottom: 10px;
    }

    #Our-Employes{
        width: 294px;
        height: 28px;
        color: #000;
        font-size: 34px;
        font-style: normal;
        font-weight: 300;
        line-height: 30px;
        margin-bottom: 86px;
        margin-left: 20px;
    }
    #Employes-block{
        width: 100%;
        height: 331px;
        padding-left: 0;
        padding-right: 0;
        padding-top: 1900px;
    }
    #Consultant-box{
        flex-direction: column;
    }
    #Consultant-card{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }
    #Brand-bg{
        margin-top: 1400px;
        width: 100%;
        height: 196px;
        background-color: #FBFBFB;
        display: flex;
        align-items: center;
        
    }
    #Brands-text{
        padding-right: 0;
        padding-left: 0;
        line-height: 50px; 
    }
    #Info-container{
        width: 100%;
        height: 365px;
        padding-left: 0;
        padding-right: 0;
        padding-top: 112px;
    }
    #Info-head{
        margin-left: 20px;
    }
    #Image-info-group{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Image-info-container{
        margin-bottom: 20px;
    }
    #Footer{
        width: 100%;
        background-color: #FBFBFB;
        height: 100%;
        margin-top: 1100px;
        flex-direction: column;
    }
    #Footer-text-container{
        width: 100%;
        padding-top: 94px;
        margin: 94px 0px 50px 20px;
        display: flex;
        flex-direction: column;
    }
    .Footer-text-item{
        display: flex;
        width: 338px;
        height: 78px;
        flex-direction: column;
        justify-content: center;
        color: #8191A6;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
    #Customers-container{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-left: 0;
    }
    .Customers-title{
        width: 150px;
        height: 20px;
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
    }
    .Customers-list{
        padding-top: 28px;
        list-style-type: none;
    }
    .UL{
        width: 171px;
        height: 57px;
        list-style-type: none;
        line-height: 20px;
    }
    .Customers-list-href{
        text-decoration: none;
        color: #8191A6;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
    }
}